---
import "../../../../base.css";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../../layout/BaseLayout.astro";
import BlogCard from "../../../components/blogs/BlogCard.astro";
import Tags from "../../../components/Tags.astro";

export const prerender = true;

// Type declaration for filteredPosts:
interface Props {
  filteredPosts: CollectionEntry<"blogs">[];
}

export async function getStaticPaths() {
  const posts = await getCollection("blogs");
  const tags = [
    ...new Set(
      posts.flatMap((post: CollectionEntry<"blogs">) => post.data.tags),
    ),
  ];

  return tags.map((tag) => {
    // Filter posts that have the current tag
    const filteredPosts = posts.filter(
      (post: CollectionEntry<"blogs">) =>
        post.data.tags && post.data.tags.includes(tag),
    );

    return {
      params: { slug: tag },
      props: { filteredPosts }, // Pass the filtered posts as props
    };
  });
}

const { slug } = Astro.params;
const { filteredPosts } = Astro.props as Props;
---

<BaseLayout pageTitle="viveks portfolio blog">
  <section
    class="section-1 flex flex-col items-center justify-center px-8 pb-20 pt-40 text-center md:h-1/2 md:pb-0 md:pt-20 2xl:px-32"
  >
    <h1 class="text-5xl font-semibold leading-tight tracking-tight">My blog</h1>
    <p class="mt-7 max-w-2xl text-lg font-medium leading-relaxed">
      I like to write about software development 🚀 & open source 🥑.
    </p>
  </section>
  <aside
    class="mb-4 flex w-full justify-start pt-16 sm:px-8 md:px-4 md:pt-0 lg:px-4"
  >
    <Tags selectedTag={slug} />
  </aside>
  <section class="relative mt-8 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
    {
      filteredPosts.map((blog) => (
        <BlogCard
          cardTitle={blog.data.title}
          cardSubtitle={blog.data.subheading}
          dateTime={blog.data.publishedAt}
          imageUrl={blog.data.cover}
          readTimeInMinutes={blog.data.readingTimeInMins}
          postUrl={blog.slug}
        />
      ))
    }
  </section>
  <section class="h-32" aria-hidden="true"></section>
</BaseLayout>
